<form [formGroup]="myForm" (ngSubmit)="login()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre">
  </div>
  <div>
    <label for="contraseña">Contraseña:</label>
    <input type="text" id="contraseña" formControlName="contraseña">
  </div>
  <button>Este boton es solo para pruebas</button>
  <button>Otro boton para hacer pruebas</button>
  <button>tercer boton para hacer pruebas</button>

  <button type="submit">Iniciar sesión</button>
</form>

