* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inactive {
  display: none;
}
.active {
  display: block;
}

button {
  background-color: transparent;
}

.btn-AllTasks:hover {
  color: var(--Bright-Blue); /* Cambia el color de fondo a azul cuando el mouse está sobre el botón */
}

.completed {
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}

ul {
  list-style-type: none;
}

h1 {
  color: var(--Very-Light-Gray);
  font-weight: bold;
}

/* Estilo personalizado para el checkbox */
input[type="checkbox"] {
  appearance: none; /* Oculta el estilo predeterminado del navegador */
  -webkit-appearance: none; /* Para navegadores basados en WebKit como Chrome y Safari */
  -moz-appearance: none; /* Para navegadores basados en Gecko como Firefox */
  width: 15px; /* Define el tamaño del checkbox */
  height: 15px; /* Define el tamaño del checkbox */
  border-radius: 50%; /* Hace que el checkbox sea redondo */
  border: 1px solid var(--Dark-Grayish-Blue); /* Añade un borde */
  outline: none; /* Elimina el contorno predeterminado al enfocar */
  cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
}

/* ESTILO DEL CHECKBOX CUANDO ESTÁ MARCADO */
input[type="checkbox"]:checked {
  background-image: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.img-fondo {
  position: absolute;
  width: 100%;
}

.card {
  position: relative;
  top: 70px;
}

.inferior-card {
  background-color: var(--Very-Light-Gray);
}

.transparencia {
  background-color: transparent;
}

.borde-delgado {
  border-bottom: 0.1px solid var(--DCVery-Dark-Grayish-Blue);
}

.contenedor-principal {
  background-color: var(--Very-Light-Gray);
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

.fuente-10 {
  font-size: 12px;
}

/* ESTILOS PARA EL TEMA OSCURO */
.contenedor-principal-dark {
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
}

.Dark-Grayish-Blue {
  color: var(--Dark-Grayish-Blue);
}

.dark-theme {
  background-color: var(--Very-Dark-Blue);
}

.button-dark {
  border: none;
  background-color: transparent;
  font-size: 50px;
}

// .input-task {
//   border: none;
// }

@media screen and (min-width: 496px) {
  .img-day-desk {
    display: block;
  }
}

@media screen and (max-width: 497px) {
  .img-day-mobil {
   display: block;
  }
}

@media screen and (min-width: 496px) and (max-width: 830px) {
  .card {
    top: 50px;
  }
  .input-task {
    //border: 1px solid var(--Dark-Grayish-Blue) !important;
    -webkit-box-shadow: 0px 0px 30px -8px rgba(99,96,99,1);
    -moz-box-shadow: 0px 0px 30px -8px rgba(99,96,99,1);
    box-shadow: 0px 0px 30px -8px rgba(99,96,99,1);
  }
}

