// DECLARAMOS LAS VARIABLES CON LAS QUE VAMOS A TRABAJAR DURANTE EL PROYECTO
:root {

  // VARIABLES COLORES LIGTH THEME
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  // VARIABLES COLORES DARK THEME
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --DLight-Grayish-Blue: hsl(234, 39%, 85%);
  //--Light-Grayish-Blue (hover): hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --DCVery-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --DVery-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}


