
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ToDoApp-primary: mat.define-palette(mat.$indigo-palette);
$ToDoApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ToDoApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ToDoApp-theme: mat.define-light-theme((
  color: (
    primary: $ToDoApp-primary,
    accent: $ToDoApp-accent,
    warn: $ToDoApp-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ToDoApp-theme);


// DECLARAMOS LAS VARIABLES CON LAS QUE VAMOS A TRABAJAR DURANTE EL PROYECTO
:root {

  // VARIABLES COLORES LIGTH THEME
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  //--Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  // VARIABLES COLORES DARK THEME
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --DLight-Grayish-Blue: hsl(234, 39%, 85%);
  //--Light-Grayish-Blue (hover): hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --DCVery-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --DVery-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  // VARIABLES HOVER
  --Bright-Blue: hsl(220, 98%, 61%);

}

body {
  background-color: var(--Very-Light-Gray);
}

.dark-theme {
  color: var(--Very-Light-Gray);
  background-color: var(--Very-Dark-Blue);
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

